@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
  @apply bg-green-300 text-black;
}

h1 {
  @apply lg:text-6xl md:text-4xl text-2xl
}
h2 {
  @apply lg:text-4xl md:text-2xl text-xl font-medium
}
h3 {
  @apply lg:text-2xl text-lg
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.normal-button{
  @apply bg-white/5 border-white/10 border-2 py-2 px-4 rounded-full size-fit backdrop-blur-2xl hover:bg-white/10 hover:border-white/15 cursor-pointer;
}

.active-button-roles {
  @apply bg-white/5 border-white/10 border-2 py-2 px-4 rounded-full size-fit backdrop-blur-2xl cursor-pointer;
} 

.inactive-button-roles {
  @apply bg-white/10 border-white/5 border-dashed  border-2 backdrop-blur-2xl py-2 px-4 rounded-full size-fit text-white/50 hover:text-white/75 hover:border-white/15 cursor-pointer;
} 